---
title: Danny King - Designer/Developer
---

- # Links
- prcrsr = '<a href="https://prcrsr.com" target="_blank">Precursor</a>'
- circle = '<a href="https://circleci.com/" target="_blank">CircleCI</a>'
- drib = '<a href="https://dribbble.com/dannyking/" target="_blank">dribbble</a>'
- git = '<a href="https://github.com/dannykingme/" target="_blank">GitHub</a>'
- pen = '<a href="https://codepen.io/dannykingme/" target="_blank">Codepen</a>'
- twit = '<a href="https://twitter.com/dannykingme/" target="_blank">Twitter</a>'
- mail = '<a href="mailto:design@dannyking.me?Subject=Hello%20Danny" target="_blank">email</a>'

%article Hey! I'm Danny King. I design tools for creators. I'm currently working on #{prcrsr} and #{circle}. I share designs on #{drib}, code on #{git}, and both on #{pen}. Let's chat on #{twit}.
