---
title: Danny King
---

/ Links
- circle = '<a href="https://circleci.com/" target="_blank">CircleCI</a>'
- drib = '<a href="https://dribbble.com/dannyking/" target="_blank">dribbble</a>'
- git = '<a href="https://github.com/dannykingme/" target="_blank">GitHub</a>'
- pen = '<a href="https://codepen.io/dannykingme/" target="_blank">Codepen</a>'
- twit = '<a href="https://twitter.com/dannykingme/" target="_blank">Twitter</a>'

%article Hey! I'm Danny King, a product designer living in San Francisco. I work at #{circle}, making tools for developers. I share some of my designs on #{drib}, I push a lot of my code to #{git}, and I share some of both on #{pen}. You can also find me on #{twit}.
