---
title: Danny King - Designer/Developer
---

- # Links
- prcrsr = '<a href="https://precursorapp.com" target="_blank">Precursor</a>'
- circle = '<a href="https://circleci.com" target="_blank">CircleCI</a>'
- drib = '<a href="https://dribbble.com/dannykingme" target="_blank">dribbble</a>'
- git = '<a href="https://github.com/dannykingme" target="_blank">GitHub</a>'
- pen = '<a href="https://codepen.io/dannykingme" target="_blank">CodePen</a>'
- twit = '<a href="https://twitter.com/dannykingme" target="_blank">Twitter</a>'
- mail = '<a href="mailto:design@dannyking.me?Subject=Hello%20Danny" target="_blank">email</a>'

%article
  %h1 I'm Danny King.
  %p I design/develop tools for other designers/developers. Previously, I made deployment simpler at #{circle}. Currently, I'm making prototyping simpler at #{prcrsr}. Eventually, I'll use more of #{twit}, #{drib}, & #{git}.
